.background-content {
  height: 70vh;
  background: url("../../../public/media/estudiantes.jpg");
}
.background-content .filter {
  width: 100%;
  height: 100%;
  background: rgba(15, 55, 87, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.background-content .filter p {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f1f1f1;
  text-align: center;
  line-height: 1.2;
}
.about-container {
  background: #f1f1f1;
  padding: 100px 100px;
  width: 100%;
  align-items: start;
  justify-content: space-around;
  display: flex;
}
.about-container .side-left {
  width: 68%;
  margin-right: 2%;
  max-width: 780px;
  background: #fff;
}
.about-container .side-right {
  width: 30%;
  min-width: 300px;
  margin: 0;
}
.about-container .about-img {
  width: 100%;
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/media/estudiantes.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

.about-container .about-text {
  padding: 30px 0;
}
.about-container .about-text span {
  color: #0675ec;
  padding: 0 25px;
}
.about-container .about-text h3 {
  font-size: 35px;
  color: #353434;
  letter-spacing: 0.3px;
  margin: 10px 0 20px 0;
  padding: 0 25px;
}
.about-container .about-text p {
  padding: 0 25px;
  margin-bottom: 20px;
  font-size: 17px;
  color: #555454;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: 30px 20px;
  margin: 0 auto;
  background: #fff;
}

.search-input {
  flex: 1;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-right: none;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-button {
  background-color: #0675ec;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.recent-posts {
  margin-top: 2rem;
}

.recent-posts h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.post-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  background: #fff;
  padding: 20px 10px 20px 20px;
}

.post-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.notification-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.notification-content {
  background-color: #2196f3;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
  max-width: 300px;
}

.notification-content p {
  margin: 0;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.post-title {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.4;
}

.post-date {
  color: #8dc63f;
  font-size: 0.9rem;
}

.tag-cloud {
  max-width: 350px;
  margin: 2.5rem auto;
}

.tag-cloud p {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.tag-cloud-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag-cloud-content a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: white;
  color: #333;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tag-cloud-content a:hover {
  background: #f5f5f5;
  transform: translateY(-2px);
}

/* mison and values start */
.mision-values-container {
  width: 100%;
  padding: 100px 8%;
  background: #f1f1f1;
}
.mision-values-container .mision {
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mision-values-container .mision-img {
  width: 52%;
  height: 650px;
  background: url("../../../public/media/about/mision.webp") no-repeat center;
  background-size: cover;
}

.mision-values-container .mision .mision-text {
  width: 60%;
  margin-left: -10%;
  background: #fff;
  padding: 40px;
}
.mision-values-container .mision .mision-text span {
  color: #0675ec;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.mision-values-container .mision .mision-text h3 {
  text-transform: capitalize;
  font-size: 35px;
  line-height: 1.3;
  margin: 5px 0;
}
.mision-values-container .mision .mision-text p {
  font-size: 17px;
  color: #555454;
  line-height: 2;
}
.mision-values-container .mision .mision-text a {
  color: #fff;
  background: #024f9b;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.2s;
}
.mision-values-container .mision .mision-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 160px;
  padding-bottom: 15px;
}
.mision-values-container .mision .mision-images img {
  width: 47%;
  height: 100%;
  object-fit: cover;
}
.mision-values-container .mision .mision-text a:hover {
  opacity: 0.9;
}
.values {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.values .values-text {
  width: 320px;
}

.values h3 {
  font-size: 27px;
}

.values p {
  color: #555454;
  line-height: 2;
}

.values .values-boxes {
  gap: 20px;
  width: calc(100% - 360px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Ajusta los elementos en varias filas si es necesario */
}

.values .values-boxes .box {
  flex: 1; /* Hace que los elementos crezcan proporcionalmente */
  min-width: 180px; /* Evita que se vuelvan demasiado pequeños */
  padding: 15px;
  border-radius: 5px;
  background: rgba(12, 152, 211, 0.15);
}

.values .values-boxes .box p {
  color: #013d79;
  font-weight: 600;
  font-size: 20px;
}

.values .values-boxes .box span {
  color: #555454;
}

/* Media Queries */
@media (max-width: 768px) {
  .values {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .values .values-text {
    width: 100%;
  }

  .values .values-boxes {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .values .values-boxes .box {
    width: 100%;
    max-width: 300px; /* Limita el ancho en móviles */
  }
}

@media (max-width: 1124px) {
  .about-container {
    padding: 60px 40px;
  }
  .mision-values-container {
    width: 100%;
    padding: 100px 50px;
  }
}
@media (max-width: 1000px) {
  .mision-values-container .mision {
    flex-direction: column;
    width: 100%;
  }
  .mision-values-container .mision-img {
    width: 80%;
    height: 650px;
  }

  .mision-values-container .mision .mision-text {
    width: 80%;
    margin-left: 0;
    background: #fff;
    padding: 40px;
    margin-top: 40px;
  }
}

@media (max-width: 868px) {
  .about-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .about-container .side-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .about-container .side-right {
    width: 100%;
    min-width: 100%;
  }

  .about-container .about-img {
    height: 300px;
  }

  .about-container .about-text h3 {
    font-size: 28px;
  }

  .search-container {
    max-width: 100%;
  }

  .post-item {
    flex-direction: column;
    gap: 0.8rem;
  }

  .post-image {
    width: 100%;
    height: 200px;
  }

  .tag-cloud {
    max-width: 100%;
  }
  .background-content .filter p {
    font-size: 40px;
  }
  .mision-values-container .mision-img {
    width: 100%;
    height: 650px;
  }
  .mision-values-container .mision .mision-text h3 {
    font-size: 27px;
  }
  .mision-values-container .mision .mision-text {
    width: 100%;
    padding: 40px 20px;
    height: auto;
  }
}
@media (max-width: 650px) {
  .background-content .filter {
    padding: 0;
  }
  .background-content .filter p {
    font-size: 25px;
  }
  .mision-values-container {
    padding: 100px 20px;
  }
  .mision-values-container .mision-img {
    height: 550px;
  }
  .mision-values-container .mision .mision-images {
    display: flex;
    margin: 20px 0;
    height: auto;
  }
  .mision-values-container .mision .mision-images img {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .about-container {
    padding: 30px 15px;
  }

  .about-container .about-img {
    height: 250px;
  }

  .about-container .about-text {
    padding: 20px 0;
  }

  .about-container .about-text h3 {
    font-size: 24px;
    padding: 0 15px;
  }

  .about-container .about-text p {
    padding: 0 15px;
    font-size: 16px;
  }

  .search-container {
    padding: 20px 15px;
  }

  .recent-posts h2 {
    font-size: 1.5rem;
  }

  .tag-cloud p {
    font-size: 1.4rem;
  }
}



